
body{
       font-family:'Orbitron', sans-serif;

}

header{
    display: inline-block;
    position: fixed;
    background-color: black;
}
header img{
    width: 15%;
    float: left;
    margin-left: 10%;
}
header nav{
    width: fit-content;
    float: left;
    margin-left: 30%;    
    margin-top:3% ;
}
header nav ul{
    margin-top:5% ;
    list-style: none;
    align-items: center;
}
header nav ul li{
    display: inline-block;
    margin-left: 30px;


}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}



main{
        padding-top:8% ;

}
.hero{
    width: 100%;
    height: auto;
    clear: both;

}
.hero img{
    float: right;
    margin-top: 25%;
    width: 100%;
    height: auto;
    margin-top: 0;

}
.hero div{
    margin-top: 2%;
}
.hero div img{
    width: 30%;
    height: auto;
    margin-top: 0;
    float: left;
    margin-left: 6%;
}
.hero div div h1{
    color: black;
    font-size: 70px;

}
.hero div div{
    margin-top: 4%;
    margin-left: 13%;
    float: left;
}

.juegos{
    clear: both;
    background-image:  url("images/fondorn.jpg");
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   display: inline-block;
   width: 100%;
}
.juegos img{
    width: 50%;
    display: block;
    margin: auto;
}
.juegos .titulo{
    color:#d9d9d9;
    text-align: center;
    font-size: 70px;
    padding-top: 5%;
    float: left;
    margin-left: 6%;
    margin-bottom: 4%;

}
.juegos div div {
    
    margin: auto;
    padding-bottom: 5%;
    width: 30%;
    float: right;
    margin-right: 14%;
    
}
.juegos div div h1{
    color: #0e0d0d;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}
.juego{
    clear: both;
    float: left;
}
.logros{
    background-color: #d9d9d9;
    clear: both;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}
*{
margin: 0;
padding: 0;
}